.myHeader {
  margin: 0 auto;
  margin-top: -10px;
  width: 100vw;
  background-color: #222222;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  div {
    padding-right: 83px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 496px;
    justify-content: space-between;
    li {
      font-weight: 400;
      color: white;
      opacity: 0.8;
      cursor: pointer;
      text-align: center;
    }
  }
}
